/* The CSS ruleset syntax

selector {
    declaration
    
    property: value;

}

*/

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ecf0f1;
    font-family: "Arial", sans-serif;
}

nav {
    display: flex;
    align-items: center;
    background-color: #2c3e50;
    position: fixed;
    width: 100vw;
    height: 3em;
    padding-left: 1.5em;
    box-shadow: 0px 10px 40px -15px;
}

.nav-link:hover {
    color: #2980b9;
}

.nav-link {
    text-decoration: none;
    color: whitesmoke;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

/* .menu-options {
    display: flex;

    (flex is way to have containers, and/or containers within each other to interact)

    height: 3em;
    align-items: center;

    (another way to center nav tabs on the nav bar, solved by 'display' and 'align-items' under nav)

} */

.main-wrapper {
    padding-top: 3em;
}

#main-heading {
    padding: 0.5em;
}

#main-text {
    font-size: 15vw;
}

#html {
    background-color: #bdc3c7;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
}

#css {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
}
.p-img-logos {
    width: 10em;
    height: 10em;
    object-fit: contain;
}

#form-container {
    background-color: #bdc3c7;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.text-img-wrapper {
    display: flex;
    text-align: justify;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

#email {
    width: 40vw;
}

#message {
    width: 40vw;
}

#submit {
    width: 40vw;
    display: inline-flex;
    justify-content: center;
    color: whitesmoke;
    height: 50px;
    padding: 0;
    background-color: #2c3e50;
    border: none;
    outline: none;
    border-radius: 40vw;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#submit:hover {
    background-color: #34495e;   
}

#submit:active {
    background-color: #95a5a6;
}

/* css selectors get one colon (:) */
/* a[href="#html"]:active {
    background-color: #a2cce9;
} */

/* psuedo-element gets two colons (::) */
h2::first-letter {
    font-size: xx-large;
}

.footer {
    color: white;
    background-color: #34495e;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}